<?xml version="1.0"?>
<configuration>
	<system.web>
		<pages styleSheetTheme="Black"/>
		<customErrors mode="RemoteOnly"/>
		<compilation debug="true" targetFramework="4.0" />

		<authorization>
			<allow users="*"/>
		</authorization>

		<siteMap defaultProvider="XmlSiteMapProvider" enabled="true">
			<providers>
				<add name="XmlSiteMapProvider" description="SiteMap provider which reads in .sitemap XML files." type="System.Web.XmlSiteMapProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" siteMapFile="web.sitemap" securityTrimmingEnabled="true"/>
			</providers>
		</siteMap>
	</system.web>
</configuration>
